	<p class="yukari"></p>

	<footer>
		<div class="ui center aligned container ">
		
		<div class="ui three column grid">
			<div class="column">
				<p>Footer links</p>
			</div>
			<div class="column">
				<p>Footer links</p>
			</div>
			<div class="column">
				<p>Footer links</p>
			</div>
		</div>

		</div>
  </footer>

	</body>
</html>