<!DOCTYPE html>
<html>
	<head>
		<title>Yemek Sitesi</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/css/app.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item">
					<i class="food icon"></i>Yemek Sitesi
				</div>
				<a href="/" class="item">Anasayfa</a>
				<a href="/yemekler/yeni" class="item">Yeni Yemek</a>
			</div>
		</div>
